footer {
    margin-top: 40px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: .5em;
    text-align: center;
}

.footerPoliciesContainer {
    display: flex;
}

@media (max-width: 768px) {
footer{
    line-height: 1em;
}
}
