/* ==== Modal ==== */
.modal {
    width: 100%;
    max-width: 85%;
    margin: 5% auto;
    padding: 20px;
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.imageContainer img {
    max-height: 500px;
    max-width: 100%;
}

@media (min-height: 968px) {
    .imageContainer img {
        max-height: 700px;
    }
}

.modalWrapper {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.heading button {
    outline: none;
    border:none;
    cursor: pointer;
    padding: 10px;
    background-color: var(--secondary-bg-color);

}

.heading button:hover {
    background-color: var(--tertiary-bg-color);
}

.removeButton {
    outline: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    background-color: var(--secondary-bg-color);
    min-width: 200px;
}

.removeButton:hover{
    background-color: var(--tertiary-bg-color);
}

.editButton {
    outline: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    background-color: var(--secondary-bg-color);
    min-width: 200px;
}

.editButton:hover {
    background-color: var(--tertiary-bg-color);
}

.buttonsContainer {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

